APP_NAME="Memoire Projet Privee"
APP_ENV=local
APP_KEY=
APP_DEBUG=true
APP_URL=http://localhost:8000

APP_LOCALE=fr
APP_FALLBACK_LOCALE=en
APP_FAKER_LOCALE=fr_FR

LOG_CHANNEL=stack
LOG_LEVEL=debug

DB_CONNECTION=pgsql
DB_HOST=postgres
DB_PORT=5432
DB_DATABASE=second_cervel
DB_USERNAME=second_cervel
DB_PASSWORD=second_cervel

SESSION_DRIVER=file
SESSION_LIFETIME=120

QUEUE_CONNECTION=database
DB_QUEUE=default
DB_QUEUE_RETRY_AFTER=90

FILESYSTEM_DISK=local
UPLOADS_DISK=uploads
MAX_UPLOAD_SIZE_MB=50

MEILISEARCH_HOST=http://meilisearch:7700
MEILISEARCH_KEY=local_master_key
SCOUT_DRIVER=meilisearch
TIKA_URL=http://tika:9998
TIKA_TIMEOUT=60

CACHE_STORE=file
MAIL_MAILER=log

ADMIN_NAME="Administrateur"
ADMIN_EMAIL=admin@example.test
ADMIN_PASSWORD=ChangeMeNow!
SEED_DEMO_DATA=false
